.result {
  height: 438px;
  padding: 20px;
  border: 1px solid #2e2ef1;
  color: #09aff1;
  font-weight: 500;
  font-size: 16px;
  background: transparent;
  border-radius: 2px 2px 0 0;
  zoom: 1;
  margin: 0 20px;
}